RoutingServer/ClientTest/ClientTest/TestClient/Connected Services/ServiceReference1/Itinerary.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Itinerary" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingServer/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingServer/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingServer/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoutingServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IItinerary_GetItinerary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItinerary" />
  </wsdl:message>
  <wsdl:message name="IItinerary_GetItinerary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItineraryResponse" />
  </wsdl:message>
  <wsdl:message name="IItinerary_testJCD_InputMessage">
    <wsdl:part name="parameters" element="tns:testJCD" />
  </wsdl:message>
  <wsdl:message name="IItinerary_testJCD_OutputMessage">
    <wsdl:part name="parameters" element="tns:testJCDResponse" />
  </wsdl:message>
  <wsdl:message name="IItinerary_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IItinerary_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IItinerary">
    <wsdl:operation name="GetItinerary">
      <wsdl:input wsaw:Action="http://tempuri.org/IItinerary/GetItinerary" message="tns:IItinerary_GetItinerary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItinerary/GetItineraryResponse" message="tns:IItinerary_GetItinerary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testJCD">
      <wsdl:input wsaw:Action="http://tempuri.org/IItinerary/testJCD" message="tns:IItinerary_testJCD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItinerary/testJCDResponse" message="tns:IItinerary_testJCD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IItinerary/GetDataUsingDataContract" message="tns:IItinerary_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItinerary/GetDataUsingDataContractResponse" message="tns:IItinerary_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IItinerary" type="tns:IItinerary">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItinerary">
      <soap:operation soapAction="http://tempuri.org/IItinerary/GetItinerary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testJCD">
      <soap:operation soapAction="http://tempuri.org/IItinerary/testJCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IItinerary/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Itinerary">
    <wsdl:port name="BasicHttpBinding_IItinerary" binding="tns:BasicHttpBinding_IItinerary">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RoutingServer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>